{% extends "core/base.html" %}

{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1 class="my-4">Login</h1>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="form-control btn btn-success">Login</button>
                {% endbuttons %}
            </form>
            <p class="text-center">
                ... or alternativly, you can
                <a href="{% url 'accounts:signup' %}">Sign up</a>!
            </p>
        </div>
    </div>
{% endblock %}