{% extends "core/base.html" %}

{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Notifications</h1>
        <div class="row">
            {% if notifs %}
                <table class="table table-striped table-hover table-">
                    <thead>
                    <tr class="text-center">
                        <th><span class="fa fa-eye"></span></th>
                        <th><span class="fa fa-comment"></span></th>
                        <th><span class="fa fa-calendar"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for notif in notifs %}
                        <tr>
                            <td class="text-center">
                                <a href="javascript:;" onclick="send_ajax({{ notif.id }}, false)"
                                   id="notif-unread{{ notif.id }}"
                                   class="fa fa-circle-o text-danger {% if notif.read == False %}d-none{% endif %}">
                                </a>
                                <a href="javascript:;" onclick="send_ajax({{ notif.id }}, true)"
                                   id="notif-read{{ notif.id }}"
                                   class="fa fa-dot-circle-o text-success {% if notif.read == True %}d-none{% endif %}">
                                </a>
                            </td>
                            <td><span id="notif-text{{ notif.id }}"
                                      class="{% if notif.read == False %}font-weight-bold{% endif %}">
                                {{ notif.content }}
                            </span></td>
                            <td class="text-center">
                                {{ notif.date|date:"l, d M Y" }} <br/>
                                {{ notif.date|date:"g:i A" }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h5 class="my-4">You have no notifications till now.</h5>
            {% endif %}

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Ajax Script -->
    <script type="text/javascript">
        function send_ajax(notif_id, call_read) {
            var sent_data = {
                type: 'POST',
                data: {
                    'notif_id': notif_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    if (data.done)
                        if (call_read)
                            read_notif(notif_id);
                        else
                            unread_notif(notif_id);
                }
            };
            if (call_read)
                sent_data.url = '{% url 'notifications:read_notif' %}';
            else
                sent_data.url = '{% url 'notifications:unread_notif' %}';
            $.ajax(sent_data);
        }

        function read_notif(notif_id) {
            $('#notif-unread' + notif_id).removeClass('d-none');
            $('#notif-read' + notif_id).addClass('d-none');
            $('#notif-text' + notif_id).removeClass('font-weight-bold');
        }

        function unread_notif(notif_id) {
            $('#notif-read' + notif_id).removeClass('d-none');
            $('#notif-unread' + notif_id).addClass('d-none');
            $('#notif-text' + notif_id).addClass('font-weight-bold');
        }
    </script>
{% endblock %}
