{% extends "core/base.html" %}

{% load bootstrap4 %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">Auction
            <small>{{ auction.title }}</small>
        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid" src="http://placehold.it/750x500" alt="">
            </div>

            <div class="col-md-4">
                <h3 class="my-3">Auction Description</h3>
                <p>{{ auction.description }}asdfadsfafadsfdsafafdasfasf</p>
                <h3 class="my-3">Base Price</h3>
                <p>{{ auction.base_price }} Tomans</p>
                <h3 class="my-3">Highest Bid</h3>
                <p>{{ auction.base_price }} Tomans</p>
                <h3 class="my-3">Time till closing</h3>
                <p><strong id="countdown"></strong></p>
                <br/>
                <button class="btn btn-success w-100" id="bid-btn">Bid Now!</button>
            </div>

        </div>
        <!-- /.row -->

        <h3 class="my-4">Other Images</h3>

        <div class="row">
            <div class="col-md-3 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-md-3 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-md-3 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
            <div class="col-md-3 mb-4">
                <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <h3 class="my-4">Bid history</h3>
        <h5 class="my-4">None</h5>
    </div>
    <!-- /.container -->

    <script type="text/javascript">
        var countdown = document.getElementById('countdown');
        var date = new Date("{{ auction.deadline.isoformat }}").getTime();
        var x = setInterval(updateCountdown, 1000);
        updateCountdown();

        function updateCountdown() {
            var now = new Date().getTime();
            var distance = date - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            countdown.innerHTML = days.toString().padStart(2, '0') + ":" + hours.toString().padStart(2, '0')
                + ":" + minutes.toString().padStart(2, '0') + ":" + seconds.toString().padStart(2, '0');
            if (distance < 0) {
                clearInterval(x);
                countdown.innerHTML = "THE BID IS CLOSED";
                countdown.classList.add('text-danger');
                document.getElementById('bid-btn').disabled = true;
            }
        }
    </script>
{% endblock %}
