{% extends "core/base.html" %}

{% load bootstrap4 %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <!-- Portfolio Item Heading -->
        <h1 class="my-4">Auction
            <small>{{ auction.title }}</small>
        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid w-100 h-auto" src="{{ auction.picture.url }}" alt="">
            </div>

            <div class="col-md-4">
                <h3 class="my-3">Auction Description</h3>
                <p>{{ auction.description }}</p>
                <h3 class="my-3">Base Price</h3>
                <p>{{ auction.base_price }} Tomans</p>
                <h3 class="my-3">Highest Bid</h3>
                {% if auction.highest_bid is None %}
                    <p class="text-warning">Be the first to bid.</p>
                {% else %}
                    <p>
                        {{ auction.highest_bid.price }} Tomans
                        {% if auction.highest_bid.owner.user == user %}
                             <span class="badge badge-info">YOURS</span>
                        {% endif %}
                    </p>
                {% endif %}
                <h3 class="my-3">Time till closing</h3>
                <p><strong id="countdown"></strong></p>
                <br/>

                {% if not auction.owner.user == user %}
                    <button class="btn btn-success btn-block" id="bid-btn" data-toggle="modal" data-target="#bidModal">
                        Bid Now!
                    </button>
                {% endif %}

                {% if auction.finished %}
                    {% if auction.owner.user == user %}
                        {% if auction.received %}
                            <p class="text-success">Received at {{ auction.receive_date|date:"d M Y, g:i A" }}</p>
                        {% elif not auction.finalized %}
                            <button class="btn btn-primary btn-block" id="contact-btn" data-toggle="modal"
                                    data-target="#contactModal">
                                Get Highest Bidder Contact Info
                            </button>
                        {% endif %}
                    {% elif auction.highest_bid is not None and auction.highest_bid.owner.user == user %}
                        {% if auction.received %}
                            <br/><p class="text-success">Received at {{ auction.receive_date|date:"d M Y, g:i A" }}</p>
                        {% elif not auction.finalized %}
                            <button class="btn btn-info btn-block" id="receipt-btn" data-toggle="modal"
                                    data-target="#receiptModal">
                                Conform Receipt of The Item
                            </button>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>

        </div>
        <!-- /.row -->

        <h3 class="my-4">Other Images</h3>

        <div class="row">
            {% for image in auction.auctionimage_set.all %}
                <div class="col-md-3 mb-4">
                    <a href="javascript:" data-toggle="modal" data-target="#imageModal{{ forloop.counter }}">
                        <img class="img-fluid" width="100%" style="object-fit: cover;" src="{{ image.file.url }}" alt="">
                    </a>
                    <!-- Image Modal -->
                    <div id="imageModal{{ forloop.counter }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img class="img-fluid" width="100%" style="object-fit: cover;" src="{{ image.file.url }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if auction.auctionimage_set.all|length == 0 %}
                <div class="col-md-12 mb-12">No more images for this auction.</div>
            {% endif %}
        </div>
        <!-- /.row -->

        <h3 class="my-4">Bid history</h3>
        {% if auction.bid_set.all  %}
            <table class="table table-striped table-hover table-">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Person</th>
                    <th>Price</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for bid in auction.bid_set.all reversed %}
                    <tr>
                        <td>{{ forloop.revcounter }}</td>
                        <td>{{ bid.owner.user.username }}</td>
                        <td>{{ bid.price }}</td>
                        <td>{{ bid.date|date:"l, d M Y, g:i A" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h5 class="my-4">None</h5>
        {% endif %}
    </div>
    <!-- /.container -->

    <!-- Bid Modal -->
    {% include 'core/bid_modal.html' %}

    <!-- Receipt Modal -->
    {% include 'core/receipt_modal.html' %}

    <!-- Contact Modal -->
    {% if auction.finished and not auction.finalized %}
        {% include 'core/contact_modal.html' %}
    {% endif %}

    <!-- Countdown Script -->
    <script type="text/javascript">
        var countdown = document.getElementById('countdown');
        var date = new Date("{{ auction.deadline.isoformat }}").getTime();
        var x = setInterval(updateCountdown, 1000);
        var done = false;
        updateCountdown();

        function updateCountdown() {
            var now = new Date().getTime();
            var distance = date - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            countdown.innerHTML = days.toString().padStart(2, '0') + ":" + hours.toString().padStart(2, '0')
                + ":" + minutes.toString().padStart(2, '0') + ":" + seconds.toString().padStart(2, '0');
            if (distance < 0) {
                clearInterval(x);
                countdown.innerHTML = "THE BID IS CLOSED";
                countdown.classList.add('text-danger');
                var bidBtn = document.getElementById('bid-btn');
                if (bidBtn)
                    bidBtn.disabled = true;
                if (done)
                    window.location = window.location;
            }
            else
                done = true;
        }
    </script>
{% endblock %}
