{% extends "core/base.html" %}

{% load bootstrap4 %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-md-6">
                {% if pending %}
                    <h1 class="my-4">Pending Auctions</h1>
                {% else %}
                    <h1 class="my-4">Availabe Auctions</h1>
                {% endif %}
            </div>
            <div class="col-md-6 text-right my-4">
                {% if user.is_authenticated and user.is_supervisor %}
                    {% if pending %}
                        <a href="{% url 'core:auctions' %}" class="btn btn-info">Available</a>
                    {% else %}
                        <a href="{% url 'core:pending' %}" class="btn btn-dark">Pending</a>
                    {% endif %}
                {% endif %}
                {% if user.is_authenticated and user.is_customer %}
                    <a href="{% url 'core:auctions' %}" class="btn btn-dark">My Acutions</a>
                    <a href="{% url 'core:auctions' %}" class="btn btn-info">My Purchases</a>
                    <a href="{% url 'core:create_auction' %}" class="btn btn-success">Create new auction</a>
                {% endif %}
            </div>
        </div>

        <script type="text/javascript">
            function updateCountdown(date, countdown_id) {
                var countdown = document.getElementById(countdown_id);

                var now = new Date().getTime();
                var distance = date - now;
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                countdown.innerHTML = "Finishes in: " + days.toString().padStart(2, '0') + ":"
                    + hours.toString().padStart(2, '0') + ":" + minutes.toString().padStart(2, '0') + ":"
                    + seconds.toString().padStart(2, '0');
                if (distance > 0)
                    setTimeout(updateCountdown, 1000, date, countdown_id);
                else {
                    countdown.innerHTML = "Finished";
                    countdown.classList.add('text-danger');
                }
            }
        </script>

        <div class="row">
            {% if auction_list %}
                {% for auction in auction_list %}
                    <div class="col-md-4 portfolio-item">
                        <div class="card h-100">
                            <a href="{% url 'core:description' auction.id %}"><img class="card-img-top" src="{{ auction.picture.url }}" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{% url 'core:description' auction.id %}">{{ auction.title }}</a>
                                </h4>
                                <p class="card-text">{{ auction.short_description }}</p>
                                <span id="countdown{{ forloop.counter }}"></span>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        var date = new Date("{{ auction.deadline.isoformat }}").getTime();
                        updateCountdown(date, 'countdown{{ forloop.counter }}');
                    </script>
                {% endfor %}
            {% else %}
                <div class="col-md-12 portfolio-item">
                    <p> No Auction Available </p>
                    {% if not user.is_authenticated or not user.is_supervisor %}
                        <p>
                            Or alternatively, you can
                            <a href="{% url 'core:create_auction' %}">Create an auction</a>
                            now!
                        </p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}