<div class="row">
    {% for auction in auction_list %}
        <div class="col-md-4 portfolio-item">
            <div class="card h-100">
                <a href="{% url 'core:description' auction.id %}"><img class="card-img-top"
                                                                       src="{{ auction.picture.url }}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'core:description' auction.id %}">{{ auction.title }}</a>
                    </h4>
                    <p class="card-text">{{ auction.short_description }}</p>
                    {% if auction.state == auction.APPROVED %}
                        <span id="countdown{{ auction.id }}"></span>
                    {% endif %}
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var date = new Date("{{ auction.deadline.isoformat }}").getTime();
            updateCountdown(date, 'countdown{{ auction.id }}');
        </script>
    {% empty %}
        <div class="col-md-12 portfolio-item">
            <p> No Auction Available </p>
        </div>
    {% endfor %}
</div>
<!-- /.row -->