{% extends "core/base.html" %}

{% load bootstrap4 %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-md-6">
                <h1 class="my-4">Availabe Auctions</h1>
            </div>
            <div class="col-md-6 text-right my-4">
                <a href="{% url 'core:create_auction' %}" class="btn btn-success">Create new auction</a>
            </div>
        </div>


        <div class="row">
            {% if auction_list %}
                {% for auction in auction_list %}
                    <div class="col-md-4 portfolio-item">
                        <div class="card h-100">
                            <a href="{% url 'core:description' auction.id %}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{% url 'core:description' auction.id %}">{{ auction.title }}</a>
                                </h4>
                                <p class="card-text">{{ auction.short_description }}</p>
                                Expires in: 03:00:12
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12 portfolio-item">
                <p> No Auction Available </p>
                <p>
                    Or alternativly, you can
                    <a href="{% url 'core:create_auction' %}">Create an auction</a>
                    now!
                </p>
                </div>
            {% endif %}
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}