{% extends "core/base.html" %}

{% load bootstrap4 %}

{% block content %}
    {{ form.media }}

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1 class="my-4">Create new auction</h1>
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="form-control btn btn-success">Create auction</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}