{% extends "core/base.html" %}

{% load bootstrap4 %}

{% block content %}
    <div class="container">

        <h1 class="my-4">Current Credit:
            <small>{{ user.customer.credit }}</small>
        </h1>

        <div class="row">
            <div class="col">
                <button class="btn btn-success btn-block" id="charge-btn" data-toggle="modal" data-target="#chargeModal">Charge</button>
            </div>
            <div class="col">
                <button class="btn btn-success btn-block" id="charge-btn" data-toggle="modal" data-target="#withdrawModal">Withdraw</button>
            </div>
        </div>

    </div>
    {% include 'core/charge_credit_modal.html' %}
    {% include 'core/withdraw_credit_modal.html' %}
{% endblock %}
